@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --article-home-min: 8rem;
}

html,
body {
  display: block;
  height: 100%;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  @media (hover: hover) {
    @supports (color: color-mix(in oklab, black, black)) {
      .darken-article:hover {
        color: color-mix(
          in oklab,
          theme(colors.base-content) 60%,
          theme(colors.secondary)
        );
      }

      .darken-article-accent:hover {
        color: color-mix(
          in oklab,
          theme(colors.base-content) 60%,
          theme(colors.accent)
        );
      }
    }
  }

  .stable-gutters {
    scrollbar-gutter: stable both-edges;
  }

  .article-hover {
    @apply cursor-pointer transition hover:scale-[1.01] active:hover:scale-[.99];
  }
}
